.dashboard-container {
    font-family: "Poppins", sans-serif;
    background-color: #f6f7fb;
    color: #111;
    min-height: 100vh;
}




.dashboard-header {
    background-color: white;
    color: #4a63e7;
    text-align: center;
    padding: 1.5rem 0;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.nav-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.nav-icons button {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
  transition: transform 0.2s ease, color 0.2s ease;
}

.nav-icons button:hover {
  transform: scale(1.2);
  color: #4a63e7;
}




.dashboard-overview {
    background-color: #5778f3;
    padding: 2rem;
    color: white;
}




.dashboard-overview h2 {
    margin-bottom: 1rem;
}




.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}


.card {
    background-color: white;
    color: black;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
}




.highlight {
    border-bottom: 4px solid #4cd964;
}




.trip-section {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 1.5rem;
}




.trip-status,
.recent-report {
    background-color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    flex: 1;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}




.trip-status table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}




.trip-status th,
.trip-status td {
    padding: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.recent-report canvas {
    width: 100%;
    height: 250px;
}