.driver-schedule-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.schedule-card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 12px 16px;
  border-radius: 10px;
}

.schedule-item label {
  font-weight: 600;
  color: #444;
}

.schedule-item p {
  margin: 0;
  font-weight: 500;
  color: #222;
}

.schedule-item input {
  width: 60%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.schedule-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 10px;
}

.edit-btn,
.save-btn,
.cancel-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.edit-btn {
  background-color: #2c337e;
  color: white;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 4px solid #2c337e;
  padding: 10px 24px 14px;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  height: 75px;
  width: auto;
}
