/* PAGE BACKGROUND */
.driver-schedule-page {
  min-height: 100vh;
  background-color: #e7e9fb;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #ffffff;
  border-bottom: 4px solid #2c337e;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 75px;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-link {
  color: #555;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.nav-link.active,
.nav-link:hover {
  color: #3454d1;
}

/* MAIN CARD */
.schedule-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.schedule-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 40px;
  width: 90%;
  max-width: 1000px;
}

/* FORM GRID */
.schedule-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.schedule-input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  margin-top: 6px;
}

/* INLINE SUBMIT BUTTON */
.submit-container {
  display: flex;
  align-items: flex-end;
}

.submit-btn-inline {
  background-color: #253b96;
  color: white;
  padding: 12px 20px;
  height: 48px;
  border-radius: 10px;
  border: none;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

/* SUBMITTED SCHEDULES */
.submitted-schedules {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
}

.filter-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-btn {
  padding: 6px 14px;
  border-radius: 6px;
  background: #e8e8e8;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.filter-btn.active {
  background: #2c337e;
  color: white;
}

.submitted-schedules-box {
  max-height: 330px;
  overflow-y: auto;
}

.submitted-schedules-box::-webkit-scrollbar {
  width: 6px;
}
.submitted-schedules-box::-webkit-scrollbar-thumb {
  background: #2c337e;
  border-radius: 4px;
}