.login-page {
  font-family: 'Poppins', sans-serif;
  background-color:rgb(45, 85, 188);
  min-height: 100vh;
  color: #111827;
}

/* ===== NAVBAR ===== */
.navbar {
  background-color: #ffffff;
  border-bottom: 4px solid #5673ff;
  padding: 10px 24px 14px;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
}

.title {
  margin: 0;
  font-weight: 800;
  letter-spacing: 1px;
  color: #5a67d8;
  font-size: 26px;
  text-align: center;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-top: 16px;
}

.icon {
  background: transparent;
  border: 0;
  border-radius: 9999px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.25s ease;
}

.icon:hover,
.icon.active {
  background-color: rgba(86, 115, 255, 0.25);
}

.icon svg {
  width: 34px;
  height: 34px;
  display: block;
}

/* ===== LOGIN SECTION ===== */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}

.login-box {
  background: #ffffff;
  border-radius: 8px;
  padding: 26px 30px;
  width: 300px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.login-box form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-box label {
  font-size: 13px;
  font-weight: 600;
  color: #333;
}

.login-box input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 13px;
  outline: none;
}

/* ===== BUTTONS ===== */
.signin-btn {
  background-color: rgb(45, 85, 188);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 0;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.signin-btn:hover {
  background-color: #DEB7D7;
}

/* ===== LINKS ===== */
.forgot {
  display: inline-block;
  font-size: 12px;
  color: rgb(45, 85, 188);
  text-decoration: none;
  margin-top: 6px;
}

.create-account {
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  color: #333;
}

.create-link {
  color: rgb(45, 85, 188);
  font-weight: 600;
  text-decoration: none;
}

.create-link:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
  padding: 40px 0;
  font-size: 14px;
  color: #fff;
  background: rgb(45, 85, 188); 
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  backdrop-filter: blur(6px);
}


/* individual column styling */
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* optional: make links or text hover nicely */
.footer-column p,
.footer-column a {
  margin: 0;
  color: #070202;
  text-decoration: none;
  transition: color 0.3s;
}


.footer-column p:hover,
.footer-column a:hover {
  color: #4a63e7;
}


/* mobile responsiveness */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
